@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

h1,h4{
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 50px;
}
h4{
  color: gray;
}



.title_bar {
  background: #2a2a2a no-repeat center center;
  background-size: cover;
  color: #FFF;
  padding: 20px 0;
}



.card-text {
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: flex;
 align-items: center;
 justify-content: center;

}

.btn{
  outline: none;
  border: none;
  color: white;
  background-color: crimson;
}
button{
  margin-top: 40px;
  margin-bottom: 40px;
 color: green;
}

.title{
  width: 100%;
  height:50px;
  border: 0.5px solid rgba(128, 128, 128, 0.463);
  background-color: #2a2a2a;
 color: #FFF;
 flex-direction: column;
 display: flex;
 align-items: center;
 justify-content: center;
 
}
p{
 color: #FFF;
  margin-top: 15px;
  text-align: center;

}

.card-text p{
  color: #2a2a2a;
}
a{
  text-decoration: none;
  color: black;
 
}
.text p{
  color: #2a2a2ab7;
  font-weight: 500;
  text-align: justify;
}
.header p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2a2a2ab7;
  font-weight: 500;
  text-align: justify;
}
h5{
  margin-top: 50px;
}
.txt p{
  color: rgb(255, 0, 0);
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
}

.text h2{
  font-family: 'Kanit', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
 
}
.equipment{
  color: #8d8d8d;
  
}
.equipment label{
  font-weight: 700;
  font-size: medium ;
  margin-top: 2px;
}
.thumnail img{
  height: 150px;
  width: 150px;
  text-align: right;
}



